.page__footer {
    height: 90px;
    background-color: $colorMediumDark;
    color: $colorMediumLight;
    font-family: $LetterFamily;
    font-size: $LetterSizeStandar;
    position: relative;
    bottom: -10px;
}
.copyright__info {
    display: flex;
    justify-content: center;
    padding-top: 34px;
}