//colors
$colorOcean: #1daa9f;
$colorSky: #32decf;
$colorLight: #c5c5c5;
$colorMediumLight:#676a6d;
$colorMediumDark:#252525;
$colorDark: #000000;
$colorDarkLetters: #4a4a4a;
$colorEgg: #ffffff;

//page
* {
    margin: 0px;
    box-sizing: border-box;
  }